events {}

http {
  upstream app {
    server app:8000;
  }

  server {
    listen 80;
    listen [::]:80;
    server_name localhost;
    return 301 https://$host$request_uri;
  }

  server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name localhost;

    ssl_certificate \c\Users\user\Docker-projet-H3-hitema-2023\certs\cert.pem;
    ssl_certificate_key \c\Users\user\Docker-projet-H3-hitema-2023\certs\key.pem;

    location / {
      proxy_pass http://localhost;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-Proto https;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
  }
}
